*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
.header
{
    height: auto;
    width: 100%;
    background-image: url(/static/banner.jpg);
    background-position: center;
    background-size: cover;
}
.nav
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0.5em;
    background: #ffffff;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.7) 0%, rgba(29, 38, 53, 0.7) 60%, rgba(29, 38, 53, 0.7) 100%);
}
.nav img
{
    width: 11em;
}
.nav-links p{
    text-align: right;
    color: #f0f0f0;
    font-style: italic;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    
}

.text-box{
    margin: 3em auto;
    width: 80%;
    color: rgb(255, 255, 255);
    text-align: center;
    
}
.text-box h1{
    font-size: 3rem;    
}
.text-box p{
    font-size: 1rem;
    padding-top: 1em;
    color: #fff;
}

/* -- intro -- */
.intro {
    width: 70%;
    border-radius: 10px;
    background: #1a1a1a;
    margin: 5% auto;
}
.intro-col{
    padding: 1.5em;
    display: flex;
}
.intro-col img{
    height: 200px;
    width: 200px;
    border-radius: 3em;
    padding: 0em 0.1em 0em 0.1em;
    margin-left: 0;
    flex-basis: 25%;
}
.intro-right > p:first-child{
    padding-left: 0.5em;
    padding-top: 1.8em;
}
.intro-right > p{
    padding-left: 0.5em;
}
.intro-right {
    color: #ffffff;
}
.lang-icons{
    text-align: center;
}
.lang-icons i{
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0 0.2em;
}
.lang-icons i:hover{
    color: rgb(255, 0, 0)!important;
}
.description {
    text-align: center;
    color: #f0f0f0;
    padding: 0.4em;   
}



@media(max-width:700px){
    .nav-links > p{
        font-size: 1rem;
    }
    .text-box > h1{
        font-size: 2rem;
    }
    .text-box > p{
        font-size: 1rem;
    }
    .intro{
        width: 95%;
    }
    .intro-col img{
        margin-left: 0;
        margin-right: 15px;   
    }
    .lang-icons i{
        font-size: 1.5em;
    }
    .nav img {
        width: 9em;
    }
}

/* -- Contact --*/

.contact{
    margin: auto;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.548)),url(/static/contact.jpg);
    background-position: center;
    background-size:cover;
    border-radius: 10px;
    text-align: center;
}
.contact > p{
    color: white;
    padding-top: 1em;
}
.contact > p > i{
    font-size: 1.3rem;
    padding-right: 0.2em;
}
.contact img{
    width: 6em;
    height: 6em;
    border-radius: 6em;
}
.icons{
    padding: 0.5em 0;
}
.icons a{
    cursor: pointer;
    padding: 0 0.2em;
    font-size: 1.4em;
}
.icons a:hover{
    color: red;
}
@media(max-width:700px){
    .contact{
        width: 90%;
    }
    .icons{
        font-size: 1rem;
    }
}

/* -- Footer -- */
.footer{
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    background-color: rgb(29, 38, 53)
}
.footer h4{
    margin-bottom: 1em;
    margin-top: 0.5em;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.footer p{
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
}
.footer p:last-child{
    margin-bottom: 1em;
}
.footer a{
    color: rgb(255, 153, 0);
}
@media(max-width:700px){
    .footer > p{
        font-size: 0.9rem;
    }
    .footer > h4{
        font-size: 0.9rem;
    }
}
